$bold-url: "./../fonts/OpenSans-Bold.woff";
$regular-url: "./../fonts/OpenSans-Regular.woff";
$light-url: "./../fonts/OpenSans-Light.woff";
$semi-bold-url: "./../fonts/OpenSans-Semibold.woff";


$primary-color:#66bb5e;
$white-color: #fff;
$body-background: #f4f4f4;

$header-height: 80px;