<div class="login custom-container">
    <div class="row">
        <div class="col-xs-10">
            <h2>Login</h2>
        </div>
        <div class="col-xs-2">
            <a href="#" class="pull-right" ng-click="login.close()">Close</a>
        </div>
    </div>
    <hr>
    <form class="form mt-10" ng-submit="login.submit()">
        <div class="row">
            <div class="col-xs-12">
                <label for="username">Username:</label>
                <input type="text" ng-model="login.payload.username" class="form-control" autofocus/>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-xs-12">
                <label for="username">Password:</label>
                <input type="password" ng-model="login.payload.password" class="form-control"/>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-xs-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>